## Cloud Counselege internship
Model 1

GRADUATION YEAR OF STUDENT

In [1]:
import numpy as np
import pandas as pd

In [3]:
datac = pd.read_csv("Final Lead Data.csv")
datac

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,25834,Pratik,pratik@xyz.com,NaN,NaN,10/16/2019 10:19:42 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5299,25832,Nikita,nikita@xyz.com,NaN,NaN,10/16/2019 10:19:41 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5300,25830,Ashwini,ashwini@xyz.com,NaN,NaN,10/16/2019 10:19:10 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,Other
5301,25828,Jheanna Mae,jheannamae@xyz.com,NaN,NaN,10/16/2019 10:19:08 am,NaN,"Don Bosco College of Engineering, Fatorda, Margao",Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5302,25826,Krishna,krishna@xyz.com,NaN,NaN,10/16/2019 10:19:06 am,NaN,Don Bosco College Of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN

In [4]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5303 entries, 0 to 5302
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      5303 non-null   int64
 1   First Name                                              5303 non-null   object
 2   Email                                                   5303 non-null   object
 3   Gender                                                  200 non-null    object
 4   City                                                    55 non-null     object
 5   Created                                                 5303 non-null   object
 6   Position                                                6 non-null      object
 7   New College Name                                        1818 non-null   object
 8   Colleges                                                1681 non-null   object
 9   Academic Year                                           2518 non-null   float64
 10  Branch/ Specialisation                                  2520 non-null   object
 11  Other Branch                                            644 non-null    object
 12  What is your current academic year?                     131 non-null    object
 13  Company Name/ College Name                              238 non-null    object
 14  Would you like to know more about us and our programs?  5303 non-null   object
 15  Are you interested in knowing more about our events?    5303 non-null   object
 16  Have you recommended Cloud Counselage to anyone?        5303 non-null   object
 17  How did you come to know about this event?              155 non-null    object
dtypes: float64(1), int64(1), object(16)
memory usage: 745.9+ KB

In [5]:
datac.drop_duplicates(subset = 'Email', inplace = True)
datac

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5250,25940,vraj,vraj@xyz.com,NaN,NaN,10/18/2019 01:03:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5255,25920,Hemil,hemil@xyz.com,NaN,NaN,10/16/2019 01:37:18 pm,NaN,Don Bosco College of Engineering,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5256,25918,Shitij,shitij@xyz.com,NaN,NaN,10/16/2019 01:35:50 pm,NaN,Don Bosco College Of Engineering Goa,Others,3.0,Computer Science,NaN,NaN,NaN,no,no,no,NaN
5258,25914,dirgh,dirgh@xyz.com,NaN,NaN,10/16/2019 11:28:11 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN
5260,25910,UTkarsha,utkarsha@xyz.com,NaN,NaN,10/16/2019 10:22:55 am,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,no,no,NaN

In [6]:
datac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2808 entries, 0 to 5260
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   ID                                                      2808 non-null   int64
 1   First Name                                              2808 non-null   object
 2   Email                                                   2808 non-null   object
 3   Gender                                                  115 non-null    object
 4   City                                                    54 non-null     object
 5   Created                                                 2808 non-null   object
 6   Position                                                1 non-null      object
 7   New College Name                                        831 non-null    object
 8   Colleges                                                662 non-null    object
 9   Academic Year                                           1083 non-null   float64
 10  Branch/ Specialisation                                  1085 non-null   object
 11  Other Branch                                            306 non-null    object
 12  What is your current academic year?                     54 non-null     object
 13  Company Name/ College Name                              140 non-null    object
 14  Would you like to know more about us and our programs?  2808 non-null   object
 15  Are you interested in knowing more about our events?    2808 non-null   object
 16  Have you recommended Cloud Counselage to anyone?        2808 non-null   object
 17  How did you come to know about this event?              101 non-null    object
dtypes: float64(1), int64(1), object(16)
memory usage: 416.8+ KB

In [7]:
def convert_academic_year(year_str):
    year_mapping = {'1st year': 1, '2nd year': 2, '3rd year': 3, 'Final year': 4}
    return year_mapping.get(year_str, 0)  # Return 0 for unexpected values 

datac['What is your current academic year?'] = datac['What is your current academic year?'].apply(convert_academic_year)
datac['Academic Year'] = datac['What is your current academic year?'] + datac['Academic Year']
datac['Academic Year'].dtype

dtype('float64')

In [8]:
date_format = '%m/%d/%Y %I:%M:%S %p'
datac['Created'] = pd.to_datetime(datac['Created'], format = date_format)
datac['Year_col'] = datac['Created'].dt.year
datac

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?,Year_col
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,2022-04-27 13:41:38,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,2022-04-22 16:08:38,NaN,Lords Universal College,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,2022-04-16 22:31:59,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022
3,68106,Pooja,pooja@xyz.com,NaN,NaN,2022-04-13 22:05:15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022
4,68090,Aayush,aayush@xyz.com,NaN,NaN,2022-03-26 19:02:48,NaN,B.k Birla college,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5250,25940,vraj,vraj@xyz.com,NaN,NaN,2019-10-18 13:03:15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019
5255,25920,Hemil,hemil@xyz.com,NaN,NaN,2019-10-16 13:37:18,NaN,Don Bosco College of Engineering,Others,3.0,Computer Science,NaN,0,NaN,no,no,no,NaN,2019
5256,25918,Shitij,shitij@xyz.com,NaN,NaN,2019-10-16 13:35:50,NaN,Don Bosco College Of Engineering Goa,Others,3.0,Computer Science,NaN,0,NaN,no,no,no,NaN,2019
5258,25914,dirgh,dirgh@xyz.com,NaN,NaN,2019-10-16 11:28:11,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019
5260,25910,UTkarsha,utkarsha@xyz.com,NaN,NaN,2019-10-16 10:22:55,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019

In [9]:
datac['Graduation year'] = 4 - datac['Academic Year'] + datac['Year_col']
datac

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?,Year_col,Graduation year
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,2022-04-27 13:41:38,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,2022-04-22 16:08:38,NaN,Lords Universal College,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,2022-04-16 22:31:59,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,2022-04-13 22:05:15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,2022-03-26 19:02:48,NaN,B.k Birla college,NaN,NaN,NaN,NaN,0,NaN,yes,yes,no,NaN,2022,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5250,25940,vraj,vraj@xyz.com,NaN,NaN,2019-10-18 13:03:15,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019,NaN
5255,25920,Hemil,hemil@xyz.com,NaN,NaN,2019-10-16 13:37:18,NaN,Don Bosco College of Engineering,Others,3.0,Computer Science,NaN,0,NaN,no,no,no,NaN,2019,2020.0
5256,25918,Shitij,shitij@xyz.com,NaN,NaN,2019-10-16 13:35:50,NaN,Don Bosco College Of Engineering Goa,Others,3.0,Computer Science,NaN,0,NaN,no,no,no,NaN,2019,2020.0
5258,25914,dirgh,dirgh@xyz.com,NaN,NaN,2019-10-16 11:28:11,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019,NaN
5260,25910,UTkarsha,utkarsha@xyz.com,NaN,NaN,2019-10-16 10:22:55,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,no,no,no,NaN,2019,NaN

In [10]:
datac.describe()

,ID,Created,Academic Year,What is your current academic year?,Year_col,Graduation year
count,2808.000000,2808,1083.000000,2808.0,2808.000000,1083.000000
mean,45108.948006,2020-09-03 11:05:26.481125376,2.810711,0.0,2020.320513,2021.506002
min,25910.000000,2019-10-16 10:22:55,1.000000,0.0,2019.000000,2019.000000
25%,33378.000000,2020-02-27 23:37:20,2.000000,0.0,2020.000000,2021.000000
50%,39501.000000,2020-07-14 11:29:49.500000,3.000000,0.0,2020.000000,2021.000000
75%,64193.000000,2021-02-19 13:11:33.249999872,3.000000,0.0,2021.000000,2022.000000
max,68112.000000,2022-04-27 13:41:38,4.000000,0.0,2022.000000,2024.000000
std,14440.621811,NaN,0.814719,0.0,0.628709,0.957851

This shows that the maximum no. of students graduate in the year of 2024 then 2022, 2021 and the minimum of them in the year of 2019.

## Exporting the file to Excel

In [18]:
file_path = "Academic Tracker of Student.xlsx"
datac.to_excel(file_path, index = False)
print(f"{file_path} this DataFrame has been exported")

Academic Tracker of Student.xlsx this DataFrame has been exported